.modal__overlay{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}
.model__win{
    margin: 0 auto;
    background: rgb(189, 65, 34);
    margin-top: 20%;
    max-width: 600px;
    z-index: 2;

}
.modal__header{
    height: 10%;
    background-color:rgb(173, 45, 13); 
    display: flex;
    justify-content: space-between;

}
.modal__close-btn{
    color: white;
    margin-top: 13px;
    margin-right: 20px;
    font-size: 40px;
    border-radius: 5px;
    border: none;
}
.modal__text{
    display: flex;
    justify-content: center;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.modal__title{
    display: flex;
    justify-content: center;
    color: white;
    padding: 15px;
    font-size: 30px;
}
.modal__btn-container{
    display: flex;
    justify-content: center;
}

.modal__btn{
    padding: 10px 20px;
    margin: 10px;
    width: 100px;
    background-color:rgb(173, 45, 13);
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}