.btn__btn-wraper{
    display: flex;
    justify-content: center;
    margin-top: 20%;
}

.btn__btn{
    padding: 10px 20px;
    margin: 10px;
    width: 100px;
    border: none;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
}

